@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
.show{
    width:100%;
}

body{ 
 background-color:black;
 font-family: 'Indie Flower', cursive;

}

#honour{
    color:white;
    position:absolute;
    font-size:30px;
    right:4%;
    width:400px;
    text-align:center;
    margin-top:-20%;
}

.kaito{
      display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:10%;
  width:400px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.kaito:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.start{
 color:white;
 font-size:60px;
}

.aboutme{
 position:absolute;   
margin-top:10%;
 width:40%;
 text-align:center;
 font-family: 'Mansalva', cursive;
}

.pandora{
       position:absolute;   
    margin-top:10%;
    width:40%;
    text-align:center;
    font-family: 'Mansalva', cursive; 
    right:0;
}

.welcome{
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    font-family: 'Dancing Script', cursive;
    text-align:center;
    font-size:100px;
    
}



@-webkit-keyframes Border {
    0% {border-color: crimson;}
    40% {border-color: goldenrod;}
    60% {border-color: green;}
    80% {border-color: DarkBlue;}
    100% {border-color: purple;}
}

@-webkit-keyframes Background {
    0% {background-color: crimson;}
    40% {background-color: goldenrod;}
    60% {background-color: green;}
    80% {background-color: DarkBlue;}
    100% {background-color: purple;}
}

@-webkit-keyframes Font {
    0% {color: crimson;}
    40% {color: goldenrod;}
    60% {color: green;}
    80% {color: DarkBlue;}
    100% {color: purple;}
}


.colors:nth-child(1){
  border: 5px solid;
  -webkit-animation:Border 5s infinite alternate;
  -webkit-animation:Font 5s infinite alternate;
}



* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 50px;
  width: 100%;
 
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    
    overflow-y: auto;
  }
}


#tag{
 font-size:30px;   
 color:white;
 align-self:center;
 margin:30px;

}


#chatTag{
 display:flex;
 flex-direction:row;
}

#groupPic{
    position:absolute;
    margin-top:5%;
    -moz-transform: rotate(345deg);
-webkit-transform: rotate(345deg);
-o-transform: rotate(345deg);
-ms-transform: rotate(345deg);
transform: rotate(345deg);
border: double #c2d4f2 10px;
cursor: pointer;
}

#dog{
    -moz-transform: rotate(23deg);
-webkit-transform: rotate(23deg);
-o-transform: rotate(23deg);
-ms-transform: rotate(23deg);
transform: rotate(23deg);
right:0;
position:absolute;
bottom:0;
border: double #c2d4f2 10px;
cursor: pointer;
}

#bird{
    width:100%;
    cursor: pointer;
}

.randomR{
    margin-top:3%;
 -moz-transform: rotate(16deg);
-webkit-transform: rotate(16deg);
-o-transform: rotate(16deg);
-ms-transform: rotate(16deg);
float:right;
text-decoration: underline;
transform: rotate(16deg);   
}

#two{
 margin-top:30%;   
}

.randomL{
    -moz-transform: rotate(348deg);
-webkit-transform: rotate(348deg);
-o-transform: rotate(348deg);
-ms-transform: rotate(348deg);
transform: rotate(348deg);
text-decoration: underline;
}

#three{
    text-align:center;
    text-decoration: underline;
    
}

#five{
    margin-top:10%;
}

.numbers{
color:#4287f5;
cursor:pointer;
font-size:70px;
}

.under{
text-decoration: none;
color:white;
}

.skills{
    color:white;  
    text-align: center;
    font-size:20px;
    margin:40px;
}

.gaveUp{
    color:white;   
    text-align:center;
    font-size:40px;
}

.duck{
 width:100%;  


}
